@model List<ProductSummaryViewModel>

@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <!-- Sol: Kategori Menüsü -->
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card shadow-sm border-0 rounded-3 p-3 sticky-top" style="top: 20px;">
                <h5 class="fw-bold mb-3">Kategoriler</h5>
                @await Component.InvokeAsync("CategoriesMenu")
            </div>
        </div>

        <!-- Sağ: Ürünler -->
        <div class="col-lg-9 col-md-8">
            <div class="row g-4">
                @foreach (var item in Model)
                {
                    <partial name="_ProductCard" model="@item" />
                }
            </div>
        </div>
    </div>
</div>


<style>
    .product-image {
        height: 200px;
        width: 100%;
        object-fit: contain;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
    }
</style>
