<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/Logs/internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!-- INFO logları -->
		<target xsi:type="File" name="infofile" fileName="${basedir}/Logs/log-info-${shortdate}.log"
				layout="${shortdate} ${time}|${level}|${message}" />

		<!-- WARN logları -->
		<target xsi:type="File" name="warnfile" fileName="${basedir}/Logs/log-warn-${shortdate}.log"
				layout="${shortdate} ${time}|${level}|${message}" />

		<!-- ERROR logları -->
		<target xsi:type="File" name="errorfile" fileName="${basedir}/Logs/log-error-${shortdate}.log"
				layout="${shortdate} ${time}|${level}|${logger}|${message} ${exception:format=message}" />

		<!-- Web logları (detaylı ama okunabilir) -->
		<target xsi:type="File" name="webfile" fileName="${basedir}/Logs/log-web-${shortdate}.log"
				layout="${shortdate} ${time}|${level}|${logger}|${message} ${exception:format=tostring}|URL: ${aspnet-request-url}|Action: ${aspnet-mvc-action}" />

		<!-- Console -->
		<target xsi:type="Console" name="console" layout="${shortdate} ${time}|${level}|${message}" />
	</targets>

	<rules>
		<!-- INFO -->
		<logger name="*" minLevel="Info" maxLevel="Info" writeTo="infofile" />

		<!-- WARN -->
		<logger name="*" minLevel="Warn" maxLevel="Warn" writeTo="warnfile" />

		<!-- ERROR -->
		<logger name="*" minLevel="Error" writeTo="errorfile" />

		<!-- Web logları -->
		<logger name="*" minLevel="Trace" writeTo="webfile" />

		<!-- Console logları -->
		<logger name="Microsoft.Hosting.Lifetime" minLevel="Info" writeTo="console" />
	</rules>
</nlog>
